<h2>Dashboard</h2>

    <div style="display:flex; gap:20px; margin-top:20px; flex-wrap:wrap">

      <mat-card style="width:250px">
        <mat-card-title>Total Employees</mat-card-title>
        <mat-card-content>
          <h1>120</h1>
        </mat-card-content>
      </mat-card>

      <mat-card style="width:250px">
        <mat-card-title>Active Employees</mat-card-title>
        <mat-card-content>
          <h1>98</h1>
        </mat-card-content>
      </mat-card>

      <mat-card style="width:250px">
        <mat-card-title>Inactive Employees</mat-card-title>
        <mat-card-content>
          <h1>22</h1>
        </mat-card-content>
      </mat-card>

    </div>
