.container {
      height: 100vh;
    }

 .sidenav {
      background-color: #1e293b !important;
      color: white;
      transition: width 0.3s ease;
      overflow: hidden;
       border-right: none;
    }

    ::ng-deep .mat-drawer {
  width: 250px !important;
}
 .sidenav.expanded {
  width: 250px !important;
}
  .sidenav.collapsed {
  width: 80px !important;
}
 .content {
     /* padding: 24px;
      background: #f1f5f9;
      min-height: 100vh;*/
        background: #f5f7fb;
  padding: 30px;
    }
mat-sidenav-container {
  height: 100vh;
}
mat-sidenav-content {
  transition: margin 0.3s ease;
}
    ::ng-deep .mat-drawer-inner-container {
  background-color: #1e293b !important;
}