<h2 mat-dialog-title>{{data?'Edit Employee Shift':'Add Employee Shift'}}</h2>

<!--<form #employeeForm="ngForm"> -->
  <form [formGroup]="shiftForm">
   <div mat-dialog-content>
   
    <div *ngIf="isEditMode">
      <p><strong>Employee ID:</strong>{{f['empId'].value}}</p>
    </div>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Name</mat-label>
   <!-- <input matInput name="firstName" [(ngModel)]="employee.firstName" required #firstName="ngModel">-->
    <input matInput formControlName="Name">
   <!-- <mat-error *ngIf="firstName.invalid && firstName.touched">First name is required</mat-error>-->
    <mat-error *ngIf="f['Name'].touched && f['Name'].invalid"> Employee name is required </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Working Day</mat-label>
  <!--  <input matInput name="surname" [(ngModel)]="employee.surname" required #surname="ngModel">-->
    <input matInput formControlName="workingDay">

 <mat-error *ngIf="f['workingDay'].invalid && f['workingDay'].touched">Work day is required</mat-error>
  </mat-form-field>

   <mat-form-field appearance="outline" class="full-width">
    <mat-label>Work Shift</mat-label>
  <!--x <input matInput [(ngModel)]="employee.address">-->
  <input matInput formControlName="workShift">
  </mat-form-field>


  <mat-slide-toggle formControlName="shiftStatus"> Active Shift</mat-slide-toggle>

</div>

<div mat-dialog-actions align="end">
  <button mat-button  type="button" (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" type="button" (click)="save()" [disabled]="shiftForm.invalid">{{isEditMode?'Update':'Save'}}</button>
</div>
</form>